$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?0a13571f0fa0d8b4e9e33cbcff7e960b") format("truetype"),
url("./flaticon.woff?0a13571f0fa0d8b4e9e33cbcff7e960b") format("woff"),
url("./flaticon.woff2?0a13571f0fa0d8b4e9e33cbcff7e960b") format("woff2"),
url("./flaticon.eot?0a13571f0fa0d8b4e9e33cbcff7e960b#iefix") format("embedded-opentype"),
url("./flaticon.svg?0a13571f0fa0d8b4e9e33cbcff7e960b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "design": "\f101",
    "idea": "\f102",
    "human-resources": "\f103",
    "slow-motion": "\f104",
    "prototyping": "\f105",
);

.flaticon-design:before {
    content: map-get($flaticon-map, "design");
}
.flaticon-idea:before {
    content: map-get($flaticon-map, "idea");
}
.flaticon-human-resources:before {
    content: map-get($flaticon-map, "human-resources");
}
.flaticon-slow-motion:before {
    content: map-get($flaticon-map, "slow-motion");
}
.flaticon-prototyping:before {
    content: map-get($flaticon-map, "prototyping");
}
