@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?e1e676ea5d200be1ee139437b0b3ac9b") format("truetype"),
url("./flaticon.woff?e1e676ea5d200be1ee139437b0b3ac9b") format("woff"),
url("./flaticon.woff2?e1e676ea5d200be1ee139437b0b3ac9b") format("woff2"),
url("./flaticon.eot?e1e676ea5d200be1ee139437b0b3ac9b#iefix") format("embedded-opentype"),
url("./flaticon.svg?e1e676ea5d200be1ee139437b0b3ac9b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-browser:before {
    content: "\f101";
}
.flaticon-analytics:before {
    content: "\f102";
}
.flaticon-human-resources:before {
    content: "\f103";
}
.flaticon-prototyping:before {
    content: "\f104";
}
.flaticon-slow-motion:before {
    content: "\f105";
}
.flaticon-design:before {
    content: "\f106";
}
.flaticon-diagram:before {
    content: "\f107";
}
.flaticon-idea:before {
    content: "\f108";
}
.flaticon-linkedin:before {
    content: "\f109";
}
.flaticon-medium:before {
    content: "\f10a";
}
