$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?662e983bc9c0189a97e77075611e9d85") format("truetype"),
url("./flaticon.woff?662e983bc9c0189a97e77075611e9d85") format("woff"),
url("./flaticon.woff2?662e983bc9c0189a97e77075611e9d85") format("woff2"),
url("./flaticon.eot?662e983bc9c0189a97e77075611e9d85#iefix") format("embedded-opentype"),
url("./flaticon.svg?662e983bc9c0189a97e77075611e9d85#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "strategy": "\f101",
    "prototyping": "\f102",
    "idea": "\f103",
    "human-resources": "\f104",
    "slow-motion": "\f105",
    "design": "\f106",
);

.flaticon-strategy:before {
    content: map-get($flaticon-map, "strategy");
}
.flaticon-prototyping:before {
    content: map-get($flaticon-map, "prototyping");
}
.flaticon-idea:before {
    content: map-get($flaticon-map, "idea");
}
.flaticon-human-resources:before {
    content: map-get($flaticon-map, "human-resources");
}
.flaticon-slow-motion:before {
    content: map-get($flaticon-map, "slow-motion");
}
.flaticon-design:before {
    content: map-get($flaticon-map, "design");
}
