@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?bf2a5ee6e212b3a3b7c412c220ab1926") format("truetype"),
url("./flaticon.woff?bf2a5ee6e212b3a3b7c412c220ab1926") format("woff"),
url("./flaticon.woff2?bf2a5ee6e212b3a3b7c412c220ab1926") format("woff2"),
url("./flaticon.eot?bf2a5ee6e212b3a3b7c412c220ab1926#iefix") format("embedded-opentype"),
url("./flaticon.svg?bf2a5ee6e212b3a3b7c412c220ab1926#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-browser:before {
    content: "\f101";
}
.flaticon-analytics:before {
    content: "\f102";
}
.flaticon-human-resources:before {
    content: "\f103";
}
.flaticon-prototyping:before {
    content: "\f104";
}
.flaticon-slow-motion:before {
    content: "\f105";
}
.flaticon-design:before {
    content: "\f106";
}
.flaticon-diagram:before {
    content: "\f107";
}
.flaticon-idea:before {
    content: "\f108";
}
